<div class='gray container'>
  <%= form_for @story do |f| %>
    <span class="columns-6">
      <%= f.label :writer_id, class: 'columns-4' %>
      <%= f.select :writer_id, Writer.all.sort_by(&:name).map { |writer| [writer.name, writer.id] }, {}, { class: 'columns-16' } %>
    </span>
    <span class="columns-6">
      <%= f.label :cadre_id, class: 'columns-4' %>
      <%= f.select :cadre_id, Cadre.all.sort_by(&:name).map { |cadre| [cadre.name, cadre.id] }, {}, { class: 'columns-16' } %>
    </span>
    <br/>
    <div class="clear">&nbsp;</div>
    <span class="columns-3">
      <%= f.label :role_id, 'As a', class: 'columns-6' %>
      <%= f.select :role_id, Role.all.map { |role| [role.name.downcase, role.id] }, {}, { class: 'columns-14' } %>
    </span>
    <span class="columns-8">
      <%= f.label :feature, 'I want', class: 'columns-4' %>
      <%= f.text_field :feature, placeholder: 'to be able to do something', class: 'columns-16' %>
    </span>
    <span class="columns-8">
      <%= f.label :objective, 'so that', class: 'columns-4' %>
      <%= f.text_field :objective, placeholder: 'I can achieve such and such', class: 'columns-16' %>
    </span>
    <span class="columns-1">
      <%= f.submit 'Create' %>
    </span>
    <div class="clear">&nbsp;</div>
  <% end %>
</div>
