<div class='container'>
  <% if @story.parent %>
    <%= link_to "↑ Forked from: #{@story.parent.to_sentence}", story_path(@story.parent), :class => "forked_from" %>
  <% end %>


  <div class='story_headline'>
    <%= form_for @story do |f| %>
      <%= f.check_box :implemented, disabled: !@story.can_be_manually_marked_as_implemented? %>
      <%= f.label :implemented, to_html_sentence(@story) %>
    <% end %>
    <p>Opened by <%= @story.writer.name %></p>
  </div>


  <% @list_items.each do |list_item| %>
    <% case list_item %>
    <% when Comment %>
      <div class='lightgray'>
        <p><%= list_item.body %></p>
        <p>– <%= list_item.writer.name %></p>
      </div>
    <% when Story %>
      <%= link_to "↳ Forked to #{list_item.cadre.name}", story_path(list_item) %>
    <% end %>
  <% end %>

  <div class='lightgray'>
    <%= form_for [@story, Comment.new] do |f| %>
      <span class="columns-6">
        <%= f.label :writer_id, class: 'columns-4' %>
        <%= f.select :writer_id, Writer.all.sort_by(&:name).map { |writer| [writer.name, writer.id] }, {}, { class: 'columns-16' } %>
      </span>
      <%= f.text_area :body, class: 'columns-20' %>
      <%= f.submit 'Comment' %>
    <% end %>
  </div>

  <div>
    <%= link_to 'Fork Story', new_story_child_path(@story) %>
  </div>
</div>
