<div class='container'>
  <div class='gray'>
    <%= form_for @story do |f| %>
      <%= f.check_box :implemented, disabled: !@story.can_be_manually_marked_as_implemented? %>
      <%= f.label :implemented, @story.to_sentence %>
    <% end %>
    <p>– <%= @story.writer.name %></p>
  </div>

  <% @story.comments.each do |comment| %>
    <div class='lightgray'>
      <p><%= comment.body %></p>
      <p>– <%= comment.writer.name %></p>
    </div>
  <% end %>

  <div class='lightgray'>
    <%= form_for [@story, Comment.new] do |f| %>
      <span class="columns-6">
        <%= f.label :writer_id, class: 'columns-4' %>
        <%= f.select :writer_id, Writer.all.sort_by(&:name).map { |writer| [writer.name, writer.id] }, {}, { class: 'columns-16' } %>
      </span>
      <%= f.text_area :body, class: 'columns-20' %>
      <%= f.submit 'Comment' %>
    <% end %>
  </div>
</div>
