<!DOCTYPE html>
<html>
<head>
  <title>Anthology</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//fast.fonts.net/cssapi/f7f47a40-b25b-44ee-9f9c-cfdfc8bb2741.css' %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navigation">
  <%= link_to render(partial: '/shared/albers/svgs/mark'), '/' %>
  <ul>
    <li> <%= link_to 'Anthology', "/" %></li>
  </ul>
  <ul class="sections">
    <li> <%= link_to 'Roles', roles_url %></li>
    <li> <%= link_to 'Cadres', cadres_url %></li>
    <li> <%= link_to 'Stories', stories_url %></li>
  </ul>
</header>

<div class='container'>
  <%= yield %>
</div>

</body>
</html>
